body {
    font-family: Verdana, Arial;
    font-size: 16px;
    line-height: 1.4;
}

#page {
    margin: 0px auto;
    width: 980px;
}

/* メイン部分 */
#main {
    background-color: blue;
    margin-bottom: 15px;
    width: 70%;
    margin: 0px auto 15px auto;
}

#main .bookPhrase {
    border: solid 1px;
    margin-top: 15px;
}

#main .bookPhrase p a {
    text-decoration: none;
    display: block;
}

#main .bookPhrase p a:hover {
    opacity: 0.7;
}
